<!-- header.html -->
<header class="navbar navbar-expand-lg navbar-dark header py-3 mb-4">
	<div class="header-container">
		<!-- Logo -->
		<a th:href="#{link.page.home}" class="mb-md-0 me-md-auto">
			<img th:src="@{#{image.logo.tonidev}}" th:alt="#{image.logo.alt}" th:title="#{general.app.name}" width="50" height="50" class="me-2" />
		    <span th:text="#{general.app.name}"></span> 
		</a>
		
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#portfolioNav"
		      aria-controls="portfolioNav" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="portfolioNav">	
			<ul class="navbar-nav ms-auto nav-pills">
		    	<li class="nav-item"><a th:href="#{link.page.home}" class="nav-link" th:classappend="${currentPage == 'home'} ? ' active'" aria-current="page" th:text="#{menu.home.text}"></a></li>
		    	<li class="nav-item"><a th:href="#{link.page.about}" class="nav-link" th:classappend="${currentPage == 'about'}	? ' active'" th:text="#{menu.about.text}"></a></li>
				<li class="nav-item"><a th:href="#{link.page.experience}" class="nav-link" th:classappend="${currentPage == 'experience'} ? ' active'" th:text="#{menu.experience.text}"></a></li>
		    	<li class="nav-item"><a th:href="#{link.page.projects}" class="nav-link" th:classappend="${currentPage == 'projects'} ? ' active'" th:text="#{menu.projects.text}"></a></li>
		    	<li class="nav-item"><a th:href="#{link.page.contact}" class="nav-link" th:classappend="${currentPage == 'contact'} ? ' active'" th:text="#{menu.contact.text}"></a></li>
			</ul>
		</div>
	</div> 
</header>