<!DOCTYPE html>
<html lang="es">
	
<head th:replace="~{#{link.fragment.head} :: head(${pageTitle})}"></head>

<body class="d-flex flex-column min-vh-100">
    <header th:replace="~{#{link.fragment.header} :: header}"></header>
	<div class="d-flex mt-4 mb-4">
		<div th:replace="~{#{link.fragment.profile} :: profileCard}"></div>
			
		<main layout:fragment="content" class="flex-fill container mt-4"></main>
	</div>

    <footer th:replace="~{#{link.fragment.footer} :: footer}"></footer>
	
	<script th:src="@{#{link.js.bootstrap}}"></script>	
	
</body>
</html>
