<!DOCTYPE html>
<html lang="es">
	
<head th:replace="~{#{link.fragment.head} :: head(${pageTitle})}"></head>

<body class="portfolio-body">
    <header th:replace="~{#{link.fragment.header} :: header}"></header>
	
	<div id="spinner-loading" class="spinner-loading">
	  <div class="spinner-loading-content"></div>
	</div>
	
	<div class="portfolio-content">
		<div th:replace="~{#{link.fragment.profile} :: profileCard}"></div>
			
		<main layout:fragment="content" class="portfolio-container"></main>
	</div>

    <footer th:replace="~{#{link.fragment.footer} :: footer}"></footer>
	
	<script th:src="@{#{link.js.bootstrap}}"></script>	
	<script th:src="@{#{link.js.spinner}}"></script>
</body>
</html>
