<!-- home.html -->
<!DOCTYPE html>
<html lang="es"
      layout:decorate="~{fragments/main_layout}"
      th:with="currentPage=${#messages.msg('about.page.id')}, pageTitle=${#messages.msg('about.page.title')}">

<head>
    <title th:text="#{general.app.name}"></title>
</head>

<body>
    <main layout:fragment="content" class="container">
		<!-- Titulo de la aplicacion -->				
		<div class="title" id="appTitle">
			<h1 class="title" th:text="#{home.page.title}"></h1>
		</div>	
		
        <div>
			<!-- Historia -->
			<div id="history" class="form-card">			
				<h2 th:text="#{about.history.title}"></h2>
				<p th:text="${profile.history}"></p>
			</div>
			
			<!-- Habilidades del usuario con una imagen default -->
			
			<div th:if="${skillsUser != null and not #lists.isEmpty(skillsUser)}" class="skills">			
				<div class="form-card">
					<h2 th:text="#{about.skills.title}"></h2>
						<ul>
							<li th:each="skillUser : ${skillsUser}"
								<p th:text="${skillUser.skill.name}">
							</li>
						</ul>
				</div>
				
				<div class="image-card">
					<img th:src="@{#{image.about.skill}}" alt="#{about.image.alt}" loading="lazy"/>
				</div>
				
			</div>
			
			<!-- Diferentes tecnologias que controla el usuario ordenadas por tipo de tecnologia -->
			
			<div th:if="${!#maps.isEmpty(mapUserTechnologies)}" id="userTechnologies" class="form-card">			
				<h2 th:text="#{about.technologies.title}"></h2>
				<div class="row my-5">
					<div class="col-md-4" th:each="entry : ${mapUserTechnologies}">
						<div class="portfolio-card mb-3">
							<div class="card-body">
								<h5 class="card-title" th:text="${entry.key.name}"></h5>	
								<span class="card-text" th:each="userTech, iStat : ${entry.value}">
									<span th:text="${userTech.name}"></span>
									<span th:if="${!iStat.last}" th:text="#{general.pipe.separator}"></span>
								</span>
							</div>	
						</div>
					</div>
				</div>
			</div>	
        </div>
    </main>
</body>
</html>