<!-- home.html -->
<!DOCTYPE html>
<html lang="es"
      layout:decorate="~{#{link.fragment.mainlayout}}"
      th:with="currentPage=${#messages.msg('home.page.id')}, pageTitle=${#messages.msg('home.tab.title')}">

<head>
    <title th:text="#{general.app.name}"></title>
</head>

<body>
    <main layout:fragment="content">
		
		<!-- Titulo de la aplicacion -->				
		<div class="title" id="appTitle">
			<h1 class="title" th:text="#{home.page.title}"></h1>
		</div>	
		
		<!-- Saludo -->
		<div id="greeting" class="form-card">		
			<h2 th:text="#{home.greeting.title}"></h2>
			<p th:text="${profile.greeting}"></p>
		</div>
		
		<!-- Presentacion -->
		<div id="presentation" class="form-card">	
			<h2 th:text="#{home.presentation.title}"></h2>
			<p th:text="${profile.presentation}"></p>
			<a class="btn" th:href="@{#{link.page.about}}" th:text="#{home.link.about}"></a>	
		</div>
		
		<!-- Resumen experiencia -->
		<div id="experience" class="form-card">		
			<h2 th:text="#{home.experience.title}"></h2>
			<p th:text="${profile.experience}"></p>
			<a class="btn" th:href="@{#{link.page.experience}}" th:text="#{home.link.experience}"></a>				
		</div>
		
		<!-- Logros -->
		<!--<div id="achievements" class="form-card">
							
		</div>-->
		
		<!-- Proyectos recientes -->
		<div id="lastProjects" class="form-card" th:if="${projects != null and not #lists.isEmpty(projects)}">
			<h2 th:text="#{home.projects.title}"></h2>
			
			<div class="row my-5">
				<div class="col-md-4" th:each="project : ${projects}">
					<div class="portfolio-card mb-3">
						<!-- Muestra la card con enlace al proyecto-->
						<div th:if="${project.url != null and project.url != ''}">
							<a th:href="${project.url}" target="_blank">
								<img th:if="${project.projectType.imageUrl != null and project.projectType.imageUrl != ''}"
									th:src="${project.projectType.imageUrl}" th:alt="#{home.projects.image.alt}" class="card-img-top"/>
								<img th:unless="${project.projectType.imageUrl != null and project.projectType.imageUrl != ''}"
									th:src="#{image.project.default}" th:alt="#{home.projects.image.alt}" class="card-img-top"/>								
								
									
								<div class="card-body">
									<h5 class="card-title" th:text="${project.name}"></h5>
									<p 	class="card-text" th:text="${project.description}"></p>							
								</div>
							</a>
						</div>	
						
						<!-- Muestra la card sin enlace al proyecto -->							
						<div th:unless="${project.url != null and project.url != ''}">
							<img th:if="${project.projectType.imageUrl != null and project.projectType.imageUrl != ''}"
								th:src="${project.projectType.imageUrl}" th:alt="#{home.projects.image.alt}" class="card-img-top"/>
							<img th:unless="${project.projectType.imageUrl != null and project.projectType.imageUrl != ''}"
								th:src="#{image.project.default}" th:alt="#{home.projects.image.alt}" class="card-img-top"/>								
															
								<div class="card-body">
									<h5 class="card-title" th:text="${project.name}"></h5>
									<p 	class="card-text" th:text="${project.description}"></p>							
								</div>
						</div>
					</div>
				</div>
			</div>
			
			<a class="btn" th:href="@{#{link.page.projects}}" th:text="#{home.link.projects}"></a>									
		</div>
		
		<!-- Objetivos ano -->
		<!--<div id="goals">
									
		</div>
		-->
		<!-- Contact -->
		<!-- <div id="contact" class="form-card">		
			<a class="btn" th:href="@{#{link.page.contact}}" th:text="#{home.link.contact}"></a>												
		</div>
		-->
    </main>
</body>
</html>
